<html>


<nav class="navbar navbar-expand-lg navbar-light bg-light navheader">
    <a class="navbar-brand" [routerLink]="['/dashboard']">
        <!-- <div class="nav-link">CPlayer</div> -->
        <img src="../../assets/logo.png" height="45%" width="50%"><b class="logo">Cricket Player</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navheadercollapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/stastics']" >Statistics</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/livematch']" >LiveMatches</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>  -->
            <li class="nav-item">
                <a class="nav-link" href="#">ContactUs</a>
            </li>

        </ul>

        <!-- <div *ngIf="userImage">
            <form [formGroup]="imgForm" (ngSubmit)="imgSubmit()">
                <button class="logout_btn" type="submit">
                    <img class="rounded-circle" [src]="userImage" alt="..." height=50 *ngIf="userImage">
                </button>
            </form>
        </div> -->

        <div class="search">
            <form [formGroup]="searchForm" (ngSubmit)="searchSubmit()">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search: <i
                        class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- <button *ngIf="loginflag==false" class="btn btn-outline-success my-2 my-sm-0" type="submit"
            (click)=login()>Login</button> -->

    </div>
</nav>

<section class="section1">
    <div class="s1d1">Player Rankings</div>

</section>
<!-- <section class="section2">

    <div class="navbar">
         <a class="active" href="/home">Test</a> 
        <a href="/home">Test</a>
        <a href="/home">ODI</a>
        <a href="/home">T20</a>
        <a></a>
        <a></a>
        <a></a>
    </div>
</section> -->
<section class="section3">

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Test">
            <h3>Test Ranking</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="s3d1 col-md-3">
                        <h4>Test Batting Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of finalbatsmanlist">
                                <tr>
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>Test Bowling Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Rank</th> -->
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of finalbowlerlist">
                                <tr>
                                    <!-- <td></td> -->
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>Test All-Rounder Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of allrounderlist">
                                <tr>
                                    <td>{{s.name}}</td>
                                    <td><img [src]="s.img">{{s.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="ODI">
            <h3>ODI Ranking</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="s3d1 col-md-3">
                        <h4>ODI Batting Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of Odifinalbatsmanlist">
                                <tr>
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>ODI Bowling Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Rank</th> -->
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of Odifinalbowlerlist">
                                <tr>
                                    <!-- <td></td> -->
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>ODI All-Rounder Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of allrounderlist">
                                <tr>
                                    <td>{{s.name}}</td>
                                    <td><img [src]="s.img">{{s.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="T20">
            <h3>T20 Ranking</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="s3d1 col-md-3">
                        <h4>T20 Batting Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of T20finalbatsmanlist">
                                <tr>
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>T20 Bowling Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>Rank</th> -->
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of T20finalbowlerlist">
                                <tr>
                                    <!-- <td></td> -->
                                    <td>{{s.key.name}}</td>
                                    <td><img [src]="s.img">{{s.key.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="s3d1 col-md-3">
                        <h4>T20 All-Rounder Ranking</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <br>
                            <tbody *ngFor="let s of allrounderlist">
                                <tr>
                                    <td>{{s.name}}</td>
                                    <td><img [src]="s.img">{{s.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>

<!--footer started-->
<footer class="page-footer font-small blue pt-4 ">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Championing World Cricket</h5>
                <!-- <img class ="footerimg" src="../../assets/logoc.png"> -->
                <h1 class="titlefoot">CPlayer</h1>
                <p>Follow CPlayer On Social</p>
                <div>
                    <a href='http://www.facebook.com'>
                        <i class="fa fa-facebook-square" style="font-size:35px;color:white"></i>
                    </a> &nbsp; &nbsp;
                    <a href='http://www.youtube.com'>
                        <i class="fa fa-youtube-play" style="font-size:35px;color:white"></i>
                    </a> &nbsp; &nbsp;
                    <a href='http://www.linkedin.com'>
                        <i class="fa fa-linkedin-square" style="font-size:35px;color:white"></i>
                    </a> &nbsp; &nbsp;
                    <a href='http://www.instagram.com'>
                        <i class="fa fa-instagram" style="font-size:35px;color:white"></i>
                    </a> &nbsp; &nbsp;
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3 ">
                </div>
            <div class="col-md-3 mb-md-0 mb-3 ">
                <h5 class="text-uppercase">Cricket News</h5><br>
                <ul class="list-unstyled">
                    <!-- <li>
                        <a href="https://www.espncricinfo.com/scores/" target="_blank">Live Scores Index</a>
                    </li><br> -->
                    <li>
                        <a href="http://www.espncricinfo.com/ci/content/story/index.html" target="_blank">News Index</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/champions-trophy/media-releases" target="_blank">Media Releases</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/video/by-country" target="_blank">Video Home</a>
                    </li><br>
                    <li>
                        <a href="http://www.espncricinfo.com/ci/content/image/index.html" target="_blank">Photos</a>
                    </li><br>
                </ul>
            </div>
            <!-- <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">RANKINGS</h5><br>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.icc-cricket.com/rankings/mens/overview">Overview</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/rankings/mens/team-rankings/test">Team Rankings</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/rankings/mens/player-rankings/test">Player Rankings</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/rankings/about">About the Rankings</a>
                    </li><br>
                    <li>
                        <a href="https://www.icc-cricket.com/rankings/faqs">Rankings FAQs</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="footer-copyright py-3">© 2020 Copyright:
        <a class="footer_url" href="https://www.cricapi.com/"> CricketPlayer.com</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Developed by: Rutul, Shreya, Suprita
    </div>

</footer>

<!--footer closed-->

</html>