.container {
    /* background-image: url("../../assets/notfound.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    width:80%;
    height: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
   }
   .btn{
       color: white;
       background-color: black;
   }
   .box1{
       margin-left:20em;
       margin-top:10em;
       background-color: rgb(178, 202, 238);
       height: 40%;
       width:50%;
   }
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
